@using MvcStok.Models.Entity
@model List<TBLURUNLER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

    // Bu sayfa Ürün listelemek için.
}

<table class="table table-bordered">
    <tr>
        <th>ÜRÜN İD</th>
        <th>ÜRÜN ADI</th>
        <th>ÜRÜN MARKASI</th>
        <th>ÜRÜN KATEGORİSİ</th>
        <th>FİYAT</th>
        <th>STOK ADEDİ</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    <tbody>
        @foreach (var urun in Model)
        {
        <tr>
            <th>@urun.URUNID</th>
            <td>@urun.URUNAD</td>
            <td>@urun.MARKA</td>
            <td>@urun.TBLKATEGORILER.KATEGORIAD</td> <!-- Kensi Otomatik Eşleştirme Yapacak - İnner Join İşlemi Aslında [MVC'de BÖYLE :) ] -->
            <td>@urun.FIYAT</td>
            <td>@urun.STOK</td>
            <td><a href="~/URUN/SIL/@urun.URUNID" class="btn btn-danger">SİL</a></td>
            <td><a href="~/URUN/GUNCELLE/@urun.URUNID" class="btn btn-success">GÜNCELLE</a></td>

        </tr>
        }
    </tbody>
</table>
<a href="/URUN/UrunEkle/" class="btn btn-primary">YENİ ÜRÜN EKLE</a>

